<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{#if user}}
    Hello {{user.username}}
    <form action="/logout" method="POST">
        <button type="submit"> Logout</button>
    </form>
    <a href="/private"> Secret page</a>
    <a href="/main">Not so Secret</a>
{{/if}}

<a href="/signup">Signup</a>
<a href="/login">Login</a>
